<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Items for "<%= campaign.name %>"</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md md:rounded-lg max-md:w-full py-8 p-8 max-w-full">
        <h1 class="text-3xl font-bold mb-6 text-center">Manage Items for "<%= campaign.name %>"</h1>

        <div class="flex flex-col gap-3">

            <a href="/manage/<%= campaign.id %>/items/add"
                class="bg-green-600 text-white px-2 text-m py-1 rounded mr-auto hover:bg-green-700 transition duration-200">Add
                New Item</a>

            <ul class="flex gap-1 flex-col w-full">
                <% items.forEach(item=> { %>
                    <li class="bg-gray-200 text-gray-600 text-sm leading-normal rounded px-4 py-3 flex flex-row gap-4 w-full">
                        <% if (item.imageName) { %>
                            <div>
                                <img src="/uploads/<%= item.imageName %>" alt="<%= item.name %>" class="w-16 h-16 object-cover">
                            </div>
                        <% } %>
                        <div class="flex flex-col gap-2 justify-end">
                            <span class="block leading-3.5">
                                Name: <b><%= item.name %></b>
                            </span>
                            <span class="block leading-3.5">
                                Order amount<br>min: <b><%= item.minQuantity %></b> / max: <b><%= item.maxQuantity %></b>
                            </span>
                        </div>

                        <div class="flex flex-col justify-end items-end ml-auto">
                            <a href="/manage/<%= campaign.id %>/items/edit/<%= item.id %>" class="text-blue-500">Edit</a>
                            <form action="/manage/<%= campaign.id %>/items/delete/<%= item.id %>" method="POST" class="">
                                <button type="submit" class="text-red-500 cursor-pointer">Delete</button>
                            </form>
                        </div>

                    </li>
                <% }) %>
            </ul>

        </div>


        <div class="actions mt-6">
            <div class="flex flex-row gap-2 items-center justify-center">
                <a href="/manage/<%= campaign.id %>/" class="text-blue-500 hover:underline">Back to Dashboard</a>
            </div>
        </div>
    </div>
</body>

</html>